.fixed2 {
    display: flex;
    flex-direction: row;
    height: 100vh;
    max-height: 100%;
}

.collumAbout {
    display: flex;
    flex-direction: column;

}

.ellipse3 {
    position: fixed;
    width: 12vw;
    height: 56vw;
    min-height: 35vw;
    margin-left: 0vw;

}

.ellipse4 {
    position: fixed;
    width: 4vw;
    height: 64vw;
    min-height: 2vw;
    margin-left: 7.7vw;
    margin-top: -11vw;
    transform: rotate(-26deg);

}


.about2 {
    position: fixed;
    z-index: 1;
    width: 11.2vw;
    height: 3.9vw;
    margin-top: 25vw;
    margin-left: 14vw;
    cursor: pointer;
}

.returnMain {
    position: fixed;
    width: 7.7vw;
    height: 2vw;
    left: 11.2vw;
    top: 12.5vw;
    cursor: pointer;
    z-index: 1;
}


.projetoAbout {
    position: fixed;
    z-index: 1;
    width: 9.2vw;
    margin-top: 13vw;
    margin-left: 11.5vw;

}



.thisIs {
    width: 18vw;
    height: 3vw;
    left: 40vw;
    top: 9vw;
    position: relative;
}

.emoji {
    position: relative;
    left: 46vw;
    top: 6.5vw;
    height: 2.5vw;
}

.profile {
    height: 29vw;
    top: 11vw;
    left: 46vw;
    position: relative;
}

.fixed3 {
    display: flex;
    flex-direction: column;
    height: 200vh;
    width: 100vw;
}

.problem {
    position: relative;
    top: 32vw;
    left: 10vw;
    height: 6vw;
}

.lets {
    position: relative;
    height: 20vw;
    top: 60vw;
    left: 10vw;
}

.sombra {
    position: fixed;
    z-index: 1;
    width: 54.2vw;
    top: 4.5vw;
    left: -7.5vw;
}