body {
    background-color: #000000;
}

.container1 {
    display: flex;
    /* justify-content: space-around; */
    height: 100vh;
    max-height: 100%;
}

.row1 {
    display: flex;
    flex-direction: row;

}


.ellipse3 {
    width: 12vw;
    height: 56vw;
    min-height: 35vw;
    margin-left: -95vw;

}

.ellipse4 {
    width: 4vw;
    height: 64vw;
    min-height: 2vw;
    margin-left: -3.9vw;

}



.about1 {
    width: 7vw;
    height: 3vw;
    margin-top: 78vh;
    margin-left: -78vh;
}

.contato1 {
    display: flex;
    /* flex-direction: row; */
    /* gap: 3vw; */
    margin-left: 175vh;
    margin-top: 50.2vw;
    position: absolute;
    z-index: 1;
}

.linkedin1 {
    width: 3vw;
    height: 3vw;
    margin-top: -7vw;
    position: absolute;
    z-index: 1;
}

.gmail1 {
    width: 3vw;
    height: 3vw;
    margin-top: -7vw;
    margin-left: 5vw;
}

.gmailButton1 {
    width: 3vw;
    height: 3vw;
    margin-top: -7vw;
    margin-left: -3vw;
}

.glow-button:hover {
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 5px 15px rgba(145, 92, 182, .8);
}


.projects {

    width: 11vw;
    margin-top: -4vw;
    margin-left: -17vw;
}


.projects1 {
    position: absolute;
    z-index: 1;
    width: 11.2vw;
    height: 1.9vw;
    margin-top: 21vw;
    margin-left: 13vw;
}


.sombra1 {
    margin-top: -1vw;
    margin-left: -35vw;
}