body {
    background-color: #000000;
}

.container {
    display: flex;
    height: 100vh;
    max-height: 100%;
}

.row {
    display: flex;
    flex-direction: row;
}

.collumn {
    display: flex;
    flex-direction: column;
    margin-top: 5vw;
}

.top{
    width: 110%;
    height: 10vw;
    position: sticky;
    top: 0;
    z-index: 4;
    background: linear-gradient( 180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 50%);
}


.helloThere {
    z-index: 1;
    width: 100vw;
    height: 20vw;
    max-width: 50vw;
    margin-top: 2.6vw;
    margin-left: 40vw;
}

.bio {
    width: 60vw;
    height: 13.3vw;
    min-height: 15vw;
    margin-left: 35vw;
    margin-bottom: 50vw;
    margin-top: 6vw;
}


.scroll {
    display: flex;
    width: 19vw;
    height: 17vw;
    position: absolute;
    margin-left: 40vw;
    left: 0;
    top: 75%;


}

.scrollButton {
    width: 2vw;
    height: 2vw;
    padding: 25px;
    border-radius: 50%;
    position: absolute;
    left: 7.4vw;
    top: 4vw;
    z-index: 2;
}


.contato {
    display: flex;
    z-index: 4;
    width: 11.2vw;
    height: 1.9vw;
    margin-top: 8vw;
    margin-left: 24vw;
    gap: 3vw;
    z-index: 5;
    
}


.linkedin {
    width: 3vw;
    height: 3vw;
    position: fixed;

}

.linkedinButton {
    height: 0.6vw;
    margin-top: 0vw;
    margin-left: 0.5vw;
    padding: 1.1vw;
    position: fixed;
}

.gmail {
    width: 3vw;
    height: 3vw;
    margin-left: 5vw;
    position: fixed;
}

.gmailButton {
    position: fixed;
    height: 0.6vw;
    width: 0.9vw;
    margin-top: 0vw;
    margin-left: 4.7vw;
    padding: 1.1vw;
}

.glow-button:hover {
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 5px 15px rgba(145, 92, 182, .9);
}


.scrollContent {
    background-color: rgb(0, 0, 0);
    display: flex;
    height: 133vh;
    max-height: 100%;
}


.characters {
    display: flex;
    flex-direction: column;
}


.cardCharacter{
    position: absolute;
    border-radius: 1%;
    width: 28.8vw;
    height: 58vw;
    left: 57.3vw;
    top: 40vw;
}

.scrollDownContent {
    position: absolute;
    border-radius: 1%;
    width: 28.8vw;
    height: 56vw;
    border: 1.5px solid rgb(255, 255, 255);
    z-index: 1;
}

.top{
    width: 110%;
    height: 10vw;
    position: sticky;
    top:0;
    z-index: 4;
    background: linear-gradient( 180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 50%);

}

.footer{
    width: 110%;
    height: 10vw;
    position: fixed;
    bottom: 0;
    z-index: 4;
    background: linear-gradient( 0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 50%);
}


html {
    scroll-behavior: smooth;
}