.rowProject2{
    display: flex;
    flex-direction: column;
}

.projetoRepply{
    left: 36vw;
    height: 39vw;
    position: absolute;
    top: 7vw;
}

.goTo{
    position: absolute;
    top: 35.2vw;
    left: 85.5vw;
    width: 9vw;
    height: 9vw;
    border-radius: 50%;
    cursor: pointer;
    z-index: 2;
}